// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


page-about, ion-content {
    //background: linear-gradient(135deg, #000, #2a0068) !important;
    background: black !important;
    color:white !important;

    > .scroll-content{
        margin-top: 0px !important;
        padding-top: 56px !important;
    }
}

.toolbar-background-md{
    background: rgba(0, 0, 0, 0.4) !important;
}

.toolbar-md-dark .bar-button-clear-md, .toolbar-md-dark .bar-button-default-md, .toolbar-md-dark .bar-button-outline-md, .toolbar-md-dark .toolbar-title-md {
    color: #b365ff  !important;
    font-weight: bold;
}

.tabbar{
    background: #000000 !important ;
}
