
page-about,page-busca-filmes{
    ion-card,.card-ios p,.card, .card-md{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Dosis', sans-serif;
        height: 45%!important;
        min-height: 220px;
        max-width: 800px;
        color:white !important;
        margin-left:auto;
        margin-right: auto;
        background:black;

        &:hover{
            filter: brightness(110%);
        }
        h2{
            color:white;
            font-size: 1.5em;
            position: relative;
            text-shadow: 2px 2px 4px #000000;
            background: rgba(169, 85, 235, 0.5);
            padding: 10px 0;
            margin: 0px;
        
        }
        p,sup{
            color:white;
        }
    }
}

